<ng-container *ngIf="nombre != '' && nombre != undefined && nombre != null">
<main>
    <nav class="dropdown">
        <div class="icono barra">
            <a routerLink="/home"><img src="iconos/barra-de-navegacion.png"></a>
        </div>
        <div class="icono home" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="iconos/hogar.png">
        </div>
        <ul class="dropdown-menu mt-2 derecha"> 
            <li><a class="dropdown-item" href="#">Opción 1</a></li>
            <li><a class="dropdown-item" href="#">Opción 2</a></li>
            <li><a class="dropdown-item" href="#">Opción 3</a></li>
        </ul>
        <div class="icono archivo" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="iconos/bandeja-de-entrada.png">
        </div>
        <ul class="dropdown-menu mt-2 derecha"> 
            <li><a class="dropdown-item" href="#">Opción 1</a></li>
            <li><a class="dropdown-item" href="#">Opción 2</a></li>
            <li><a class="dropdown-item" href="#">Opción 3</a></li>
        </ul>
        <div class="icono grafico" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="iconos/tendencia.png">
        </div>
        <ul class="dropdown-menu mt-2 derecha"> 
            <li><a class="dropdown-item" href="#">Opción 1</a></li>
            <li><a class="dropdown-item" href="#">Opción 2</a></li>
            <li><a class="dropdown-item" href="#">Opción 3</a></li>
        </ul>
        <div class="icono editar" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="iconos/edicion-de-fotos.png">
        </div>
        <ul class="dropdown-menu mt-2 derecha edit"> 
            <li><a class="dropdown-item" href="#">Opción 1</a></li>
            <li><a class="dropdown-item" href="#">Opción 2</a></li>
            <li><a class="dropdown-item" href="#">Opción 3</a></li>
        </ul>
    </nav>


</main>
</ng-container>

