<footer>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" id="cardUnoFoot" style="width: 18rem;">
                    <img id="logoDosFooter" src="logoDos.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Venta de Lotes RB es una plataforma digital creada para
                            simplificar la compra de predios.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" id="cardDosFoot" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Medios de contacto:</h5>
                        <p class="card-text">Teléfono: +57 320 202 02 02<br>
                            Correo : gmail.com</p>
                        <a href="https://wa.me/3202020202" class="btn btn-primary" target="_blank">Whatsapp</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" id="cardTresFoot" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Secciones principales:</h5>
                        <p class="card-text">
                            <a routerLink="/"><br>Inicio</a>
                            <a routerLink="/contactenos"><br>Contáctanos</a>
                            <a routerLink="/test"><br>Test</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>