<app-header></app-header>
<app-home-admin></app-home-admin>

<div class="registro">
    <main>
        <div class="container">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let item of datos">
                        <tr>
                            <td>{{item.nombre}}</td>
                            <td>{{item.correo}}</td>
                            <td>{{item.rol}}</td>
                            <td>{{item.estado}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div type="button" class="btnNuevo" (click)="agregar()">
                <img src="iconos/mas.png">
            </div>
            <div class="modal fade" id="aniadirModal" tabindex="-1" aria-labelledby="aniadir"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="aniadir">Agregar usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<app-footer></app-footer>