.barraLateral {
    position: fixed;
    z-index: 1000;

}

.mainAdmin{
    margin-top: 79px;
    display: flex;
    margin-bottom: 100px;
    z-index: 1000 !important;
    margin-left: 2px;
}

nav{
    border: 2px solid;
    border-radius: 6px;
    background-color: #09a77d !important;
    color: white;
}

a{
    text-decoration: none;
    color: white; 
    font-weight: 600;
}

div.apartado {
    padding: 20px;
    cursor: pointer;
    border: solid 0.4px black;
    border-radius: 6px;
    background-color: #003333   ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

#portada{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo{
    padding: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portada img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.footer{
    margin-top: 100px;
}

.col-10{
    margin-bottom: 100px;
}