<app-header></app-header>
<app-home-admin></app-home-admin>

<div class="area">
    <div class="container">
        <div class="contrasenaCambio">
            <div class="titulo"> Actualizar contrasena </div>
            <div class="row">
                <div class="form-group col-12 col-md-4 areaDos">
                    <label for="contra"> Contrasena</label>
                    <input type="password" id="contra" class="form-control" aria-describedby="passwordHelpInline" [(ngModel)]="contrasena">
                    <label for="contra"> Confirmar contrasena</label>
                    <input type="password" id="contraDos" class="form-control" aria-describedby="passwordHelpInline" [(ngModel)]="contrasenaDos">
                    <button type="button" class="btn btn-primary" (click)="cambiarContrasena()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>