<app-header></app-header>

<app-home-admin></app-home-admin>

<main>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-8">
                <h2 id="tituloIndividual" class="tituloBD">
                    {{ misDatos.titulo }}
                </h2>
            </div>
            <div class="col-6 col-sm-4" id="listaLugares">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Lugares
                    </a>
                    <ul class="dropdown-menu">
                        <ng-container *ngFor="let item of datosLugar">
                            <li><a class="dropdown-item" href="/lugares/{{item._id}}">{{item.titulo}}</a></li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" class="imagenPrincipal">
            <img src="http://localhost:3000/imagenes/{{misDatos._id}}.png" class="imagen img-fluid"
             onerror="this.onerror=null; this.src='http://localhost:4200/iconos/predeterminado.png';">
        </div>
        <div class="row">
            <div id="lugarTitulo">
                <h4 class="subtituloBD">
                    {{misDatos.lugarNombre}}
                </h4>
            </div>
            <div class="col-12 descripcionLugar" id="lugarDescripcion">
                <p class="descripcionBD">
                    {{misDatos.descripcion}}
                </p>
                <p>
                    Valor del metro cuadrado: {{misDatos.precioMetroCuadrado | currency:'COP ':'symbol':'1.0-0' }}
                </p>
                <p>
                    Cantidad de metros cuadrados: {{misDatos.metrosCuadrados | number }}
                </p>
                <p>
                    Precio total: {{misDatos.precio | currency:'COP ':'symbol':'1.0-0'}}
                </p>
            </div>
        </div>
    </div>
</main>


<app-footer></app-footer>