<app-header></app-header>

<app-home-admin></app-home-admin>

<main>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-8">
                <h2 id="tituloIndividual" class="tituloBD">
                    {{ misDatos.titulo }}
                </h2>
            </div>
            <div class="col-6 col-sm-4" id="listaLugares">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Lugares
                    </a>
                    <ul class="dropdown-menu">
                        <ng-container *ngFor="let item of datos">
                            <li><a class="dropdown-item" href="/lugares/{{item._id}}">{{item.titulo}}</a></li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" class="imagenPrincipal">
            <img src="http://localhost:3000/imagenes/{{misDatos._id}}.png" class="imagen img-fluid">
        </div>
        <div class="row">
            <div id="lugarTitulo">
                <h4 class="subtituloBD">
                    {{misDatos.titulo}} - {{misDatos.subtitulo}}
                </h4>
            </div>
            <div class="col-12 descripcionLugar" id="lugarDescripcion">
                <p class="descripcionBD">
                    {{misDatos.descripcion}}
                </p>
            </div>
        </div>
         <div class="row" id="lotesCards">
            <div id="tituloDos">
                <h3 id="tituloLotes">Lotes disponibles</h3>
            </div>
            <ng-container *ngFor="let item of datos">
                <div class="col-12 col-md-6 col-lg-4 cartas" id="primerLugar">
                    <div class="card cardLotes" style="width: 18rem;">
                        <img src="images/lotes/loteUnoPrimero.jpeg" class="img-fluid" alt="...">
                        <div class="card-body cuerpoCartaLugar">
                            <h5>{{item.titulo}}</h5>
                            <p class="card-text">{{item.resumen}}</p><a routerLink="/lugares/{{item._id}}"
                                target="_blank"><button type="button" class="btn btn-primary">Conocer</button></a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</main>


<app-footer></app-footer>