div.registro{
    margin-top: 120px;
}

div.btnNuevo{
    position: fixed;
    bottom: 50vh;
    right: 10vh;
}

#imagenSubir { 
    display: none;
}

#imagenPortada{
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 75px);
    margin-bottom: 10px;
    border-radius: 60px;
    border: #003333 solid 5px;
}

#iconoSubir img{
    margin-left: -55px;
    margin-top: -80px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100px;
    border: #003333 solid 2px;
    padding: 2px;
}

img.imagen{
    width: 50px;
    height: 50px;
}

div.registro{
    margin-top: 80px;
}

div.btnNuevo{
    position: fixed;
    bottom: 50vh;
    right: 10vh;
}

div.btnNuevo img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #06A77D;
    border-radius: 200px;
    padding: 10px;
}

#encabezado {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}